<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Books</title>
</head>
<body>
    <h1>Books List</h1>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% books.forEach(function(book) { %>
                <tr>
                    <td><%= book.title %></td>
                    <td><%= book.author %></td>
                    <td>
                        <a href="/book/<%= book.id %>">View</a>
                        <a href="/update/<%= book.id %>">Edit</a>
                        <a href="/delete/<%= book.id %>">Delete</a>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    <a href="/create">Add New Book</a>
</body>
</html>